.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100000;
  opacity: 1;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.splash.fade-out {
  opacity: 0;
  pointer-events: none;
}

.splash.hidden {
  display: none;
}

#splashscreen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}