.background-video {
  position: fixed;
  cursor: crosshair;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: opacity 0.5s ease;
  pointer-events: none;
}